/* QUOTES */

.quote {
    /*? 1) typo ".quotes" instead of ".quote". */
    height: 20vh;
    z-index: 0;
    margin-top: .15em;
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#nxtBtn {
    /*? 2) ID not being targeted. */
    position: absolute;
    right: 3em;
    bottom: 18vh;
    z-index: 3;
    width: 35px;
    height: 35px;
}